.ui
    &.form
        position relative
        max-width 100%
        font-size 1rem
        & > p
            margin 1em 0
        .field
            clear both
            margin 0 0 1em
            & > label
                display block
                margin 0 0 .28571429rem
                color rgba(0, 0, 0, .87)
                font-size .92857143em
                font-weight 700
                text-transform none
            & > .selection
                &.dropdown
                    width 100%
                    & > .dropdown
                        &.icon
                            float right
            .prompt
                &.label
                    white-space normal
                    background #FFF!important
                    border 1px solid #E0B4B4!important
                    color #9F3A38!important
            &.field
                input
                    &:-webkit-autofill
                        box-shadow 0 0 0 100px ivory inset!important
                        border-color #E5DFA1!important
                        &:focus
                            box-shadow 0 0 0 100px ivory inset!important
                            border-color #D5C315!important
            &.error
                select
                    -webkit-appearance menulist-button
            &.disabled
                &:disabled
                    opacity 1
        .fields
            display -webkit-box
            display -webkit-flex
            display -ms-flexbox
            display flex
            -webkit-box-orient horizontal
            -webkit-box-direction normal
            -webkit-flex-direction row
            -ms-flex-direction row
            flex-direction row
            margin 0 -.5em 1em
            .field
                clear both
                margin 0
            & > .field
                -webkit-box-flex 0
                -webkit-flex 0 1 auto
                -ms-flex 0 1 auto
                flex 0 1 auto
                padding-left .5em
                padding-right .5em
                &:first-child
                    border-left none
                    box-shadow none
            .wide
                &.field
                    width 6.25%
                    padding-left .5em
                    padding-right .5em
        textarea
            margin 0
            -webkit-appearance none
            tap-highlight-color rgba(255, 255, 255, 0)
            padding .78571429em 1em
            background #FFF
            border 1px solid rgba(34, 36, 38, .15)
            outline 0
            color rgba(0, 0, 0, .87)
            border-radius .28571429rem
            box-shadow 0 0 transparent inset
            -webkit-transition color .1s ease, border-color .1s ease
            transition color .1s ease, border-color .1s ease
            font-size 1em
            line-height 1.2857
            resize vertical
            &:not([rows])
                height 12em
                min-height 8em
                max-height 24em
            &:focus
                color rgba(0, 0, 0, .95)
                border-color #85B7D9
                border-radius .28571429rem
                background #FFF
                box-shadow 0 0 rgba(34, 36, 38, .35) inset
                -webkit-appearance none
        input
            &.attached
                width auto
        select
            display block
            height auto
            width 100%
            background #FFF
            border 1px solid rgba(34, 36, 38, .15)
            border-radius .28571429rem
            box-shadow 0 0 transparent inset
            padding .62em 1em
            color rgba(0, 0, 0, .87)
            -webkit-transition color .1s ease, border-color .1s ease
            transition color .1s ease, border-color .1s ease
        .message
            &:first-child
                margin-top 0
        .error
            &.error
                input
                    &:-webkit-autofill
                        box-shadow 0 0 0 100px #FFFAF0 inset!important
                        border-color #E0B4B4!important
            &::-webkit-input-placeholder
                color #e7bdbc
            &:-ms-input-placeholder
                color #e7bdbc!important
            &::-moz-placeholder
                color #e7bdbc
            &:focus
                &::-webkit-input-placeholder
                    color #da9796
                &:-ms-input-placeholder
                    color #da9796!important
                &::-moz-placeholder
                    color #da9796
        &::-webkit-input-placeholder
            color rgba(191, 191, 191, .87)
        &:-ms-input-placeholder
            color rgba(191, 191, 191, .87)
        &::-moz-placeholder
            color rgba(191, 191, 191, .87)
        &:focus
            &::-webkit-input-placeholder
                color rgba(115, 115, 115, .87)
            &:-ms-input-placeholder
                color rgba(115, 115, 115, .87)
            &::-moz-placeholder
                color rgba(115, 115, 115, .87)
        &.success
            .success
                &.message
                    &:not(:empty)
                        display block
            .compact
                &.success
                    &.message
                        &:not(:empty)
                            display inline-block
            .icon
                &.success
                    &.message
                        &:not(:empty)
                            display -webkit-box
                            display -webkit-flex
                            display -ms-flexbox
                            display flex
        &.warning
            .warning
                &.message
                    &:not(:empty)
                        display block
            .compact
                &.warning
                    &.message
                        &:not(:empty)
                            display inline-block
            .icon
                &.warning
                    &.message
                        &:not(:empty)
                            display -webkit-box
                            display -webkit-flex
                            display -ms-flexbox
                            display flex
        &.error
            .error
                &.message
                    &:not(:empty)
                        display block
            .compact
                &.error
                    &.message
                        &:not(:empty)
                            display inline-block
            .icon
                &.error
                    &.message
                        &:not(:empty)
                            display -webkit-box
                            display -webkit-flex
                            display -ms-flexbox
                            display flex
        .grouped
            &.fields
                display block
                margin 0 0 1em
                &:last-child
                    margin-bottom 0
                & > label
                    margin 0 0 .28571429rem
                    color rgba(0, 0, 0, .87)
                    font-size .92857143em
                    font-weight 700
                    text-transform none
        .one
            &.wide
                &.field
                    width 6.25%!important
        .two
            &.wide
                &.field
                    width 12.5%!important
        .three
            &.wide
                &.field
                    width 18.75%!important
        .four
            &.wide
                &.field
                    width 25%!important
        .five
            &.wide
                &.field
                    width 31.25%!important
        .six
            &.wide
                &.field
                    width 37.5%!important
        .seven
            &.wide
                &.field
                    width 43.75%!important
        .eight
            &.wide
                &.field
                    width 50%!important
        .nine
            &.wide
                &.field
                    width 56.25%!important
        .ten
            &.wide
                &.field
                    width 62.5%!important
        .eleven
            &.wide
                &.field
                    width 68.75%!important
        .twelve
            &.wide
                &.field
                    width 75%!important
        .thirteen
            &.wide
                &.field
                    width 81.25%!important
        .fourteen
            &.wide
                &.field
                    width 87.5%!important
        .fifteen
            &.wide
                &.field
                    width 93.75%!important
        .sixteen
            &.wide
                &.field
                    width 100%!important
        .inline
            &.fields
                margin 0 0 1em
                -webkit-box-align center
                -webkit-align-items center
                -ms-flex-align center
                -ms-grid-row-align center
                align-items center
                .field
                    margin 0
                    padding 0 1em 0 0
                & > label
                    margin .035714em 1em 0 0
                .wide
                    &.field
                        display -webkit-box
                        display -webkit-flex
                        display -ms-flexbox
                        display flex
                        -webkit-box-align center
                        -webkit-align-items center
                        -ms-flex-align center
                        align-items center
    &.loading
        &.form
            position relative
            cursor default
            pointer-events none
            &:before
                position absolute
                content ''
                top 0
                left 0
                background rgba(255, 255, 255, .8)
                width 100%
                height 100%
                z-index 100
            &:after
                position absolute
                content ''
                top 50%
                left 50%
                margin -1.5em 0 0 -1.5em
                width 3em
                height 3em
                -webkit-animation form-spin .6s linear
                animation form-spin .6s linear
                -webkit-animation-iteration-count infinite
                animation-iteration-count infinite
                border-radius 500rem
                border-color #767676 rgba(0, 0, 0, .1) rgba(0, 0, 0, .1)
                border-style solid
                border-width .2em
                box-shadow 0 0 0 1px transparent
                visibility visible
                z-index 101
    &.mini
        &.form
            font-size .78571429rem
    &.tiny
        &.form
            font-size .85714286rem
    &.small
        &.form
            font-size .92857143rem
    &.large
        &.form
            font-size 1.14285714rem
    &.big
        &.form
            font-size 1.28571429rem
    &.huge
        &.form
            font-size 1.42857143rem
    &.massive
        &.form
            font-size 1.71428571rem

.ui.form .field:last-child,
.ui.form .fields:last-child .field
    margin-bottom 0

.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url],
.ui.form textarea
    width 100%
    vertical-align top

.ui.form::-webkit-datetime-edit,
.ui.form::-webkit-inner-spin-button
    height 1.21428571em

.ui.form input:not([type]),
.ui.form input[type=date],
.ui.form input[type=datetime-local],
.ui.form input[type=email],
.ui.form input[type=file],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=search],
.ui.form input[type=tel],
.ui.form input[type=text],
.ui.form input[type=time],
.ui.form input[type=url]
    font-family Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif
    margin 0
    outline 0
    -webkit-appearance none
    tap-highlight-color rgba(255, 255, 255, 0)
    line-height 1.21428571em
    padding .67857143em 1em
    font-size 1em
    background #FFF
    border 1px solid rgba(34, 36, 38, .15)
    color rgba(0, 0, 0, .87)
    border-radius .28571429rem
    box-shadow 0 0 transparent inset
    -webkit-transition color .1s ease, border-color .1s ease
    transition color .1s ease, border-color .1s ease

.ui.form input[type=checkbox],
.ui.form textarea
    vertical-align top

.ui.form .inline.field>.selection.dropdown,
.ui.form .inline.fields .field>.selection.dropdown
    width auto

.ui.form .inline.field>.selection.dropdown>.dropdown.icon,
.ui.form .inline.fields .field>.selection.dropdown>.dropdown.icon
    float none

.ui.form .field .ui.input,
.ui.form .fields .field .ui.input,
.ui.form .wide.field .ui.input
    width 100%

.ui.form .inline.field:not(.wide) .ui.input,
.ui.form .inline.fields .field:not(.wide) .ui.input
    width auto
    vertical-align middle

.ui.form .field .ui.input input,
.ui.form .fields .field .ui.input input
    width auto

.ui.form .eight.fields .ui.input input,
.ui.form .five.fields .ui.input input,
.ui.form .four.fields .ui.input input,
.ui.form .nine.fields .ui.input input,
.ui.form .seven.fields .ui.input input,
.ui.form .six.fields .ui.input input,
.ui.form .ten.fields .ui.input input,
.ui.form .three.fields .ui.input input,
.ui.form .two.fields .ui.input input,
.ui.form .wide.field .ui.input input
    -webkit-box-flex 1
    -webkit-flex 1 0 auto
    -ms-flex 1 0 auto
    flex 1 0 auto
    width 0

.ui.form .error.message,
.ui.form .success.message,
.ui.form .warning.message
    display none

.ui.form .inline.field .prompt,
.ui.form .inline.fields .field .prompt
    vertical-align top
    margin -.25em 0 -.5em .5em

.ui.form .inline.field .prompt:before,
.ui.form .inline.fields .field .prompt:before
    border-width 0 0 1px 1px
    bottom auto
    right auto
    top 50%
    left 0

.ui.form input:not([type]):focus,
.ui.form input[type=date]:focus,
.ui.form input[type=datetime-local]:focus,
.ui.form input[type=email]:focus,
.ui.form input[type=file]:focus,
.ui.form input[type=number]:focus,
.ui.form input[type=password]:focus,
.ui.form input[type=search]:focus,
.ui.form input[type=tel]:focus,
.ui.form input[type=text]:focus,
.ui.form input[type=time]:focus,
.ui.form input[type=url]:focus
    color rgba(0, 0, 0, .95)
    border-color #85B7D9
    border-radius .28571429rem
    background #FFF
    box-shadow 0 0 rgba(34, 36, 38, .35) inset

.ui.form .field.error .input,
.ui.form .field.error label,
.ui.form .fields.error .field .input,
.ui.form .fields.error .field label
    color #9F3A38

.ui.form .field.error .corner.label,
.ui.form .fields.error .field .corner.label
    border-color #9F3A38
    color #FFF

.ui.form .field.error input:not([type]),
.ui.form .field.error input[type=date],
.ui.form .field.error input[type=datetime-local],
.ui.form .field.error input[type=email],
.ui.form .field.error input[type=file],
.ui.form .field.error input[type=number],
.ui.form .field.error input[type=password],
.ui.form .field.error input[type=search],
.ui.form .field.error input[type=tel],
.ui.form .field.error input[type=text],
.ui.form .field.error input[type=time],
.ui.form .field.error input[type=url],
.ui.form .field.error select,
.ui.form .field.error textarea,
.ui.form .fields.error .field input:not([type]),
.ui.form .fields.error .field input[type=date],
.ui.form .fields.error .field input[type=datetime-local],
.ui.form .fields.error .field input[type=email],
.ui.form .fields.error .field input[type=file],
.ui.form .fields.error .field input[type=number],
.ui.form .fields.error .field input[type=password],
.ui.form .fields.error .field input[type=search],
.ui.form .fields.error .field input[type=tel],
.ui.form .fields.error .field input[type=text],
.ui.form .fields.error .field input[type=time],
.ui.form .fields.error .field input[type=url],
.ui.form .fields.error .field select,
.ui.form .fields.error .field textarea
    background #FFF6F6
    border-color #E0B4B4
    color #9F3A38
    border-radius ''
    box-shadow none

.ui.form .field.error input:not([type]):focus,
.ui.form .field.error input[type=date]:focus,
.ui.form .field.error input[type=datetime-local]:focus,
.ui.form .field.error input[type=email]:focus,
.ui.form .field.error input[type=file]:focus,
.ui.form .field.error input[type=number]:focus,
.ui.form .field.error input[type=password]:focus,
.ui.form .field.error input[type=search]:focus,
.ui.form .field.error input[type=tel]:focus,
.ui.form .field.error input[type=text]:focus,
.ui.form .field.error input[type=time]:focus,
.ui.form .field.error input[type=url]:focus,
.ui.form .field.error select:focus,
.ui.form .field.error textarea:focus
    background #FFF6F6
    border-color #E0B4B4
    color #9F3A38
    -webkit-appearance none
    box-shadow none

.ui.form .field.error .ui.dropdown,
.ui.form .field.error .ui.dropdown .item,
.ui.form .field.error .ui.dropdown .text,
.ui.form .fields.error .field .ui.dropdown,
.ui.form .fields.error .field .ui.dropdown .item
    background #FFF6F6
    color #9F3A38

.ui.form .field.error .ui.dropdown,
.ui.form .field.error .ui.dropdown:hover,
.ui.form .fields.error .field .ui.dropdown,
.ui.form .fields.error .field .ui.dropdown:hover
    border-color #E0B4B4!important

.ui.form .field.error .ui.dropdown:hover .menu,
.ui.form .fields.error .field .ui.dropdown:hover .menu
    border-color #E0B4B4

.ui.form .field.error .ui.multiple.selection.dropdown>.label,
.ui.form .fields.error .field .ui.multiple.selection.dropdown>.label
    background-color #EACBCB
    color #9F3A38

.ui.form .field.error .ui.dropdown .menu .item:hover,
.ui.form .field.error .ui.dropdown .menu .selected.item,
.ui.form .fields.error .field .ui.dropdown .menu .item:hover,
.ui.form .fields.error .field .ui.dropdown .menu .selected.item
    background-color #FBE7E7

.ui.form .field.error .ui.dropdown .menu .active.item,
.ui.form .fields.error .field .ui.dropdown .menu .active.item
    background-color #FDCFCF!important

.ui.form .field.error .checkbox:not(.toggle):not(.slider) .box,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) label,
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) .box,
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) label
    color #9F3A38

.ui.form .field.error .checkbox:not(.toggle):not(.slider) .box:before,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) label:before,
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) .box:before,
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) label:before
    background #FFF6F6
    border-color #E0B4B4

.ui.form .field.error .checkbox .box:after,
.ui.form .field.error .checkbox label:after,
.ui.form .fields.error .field .checkbox .box:after,
.ui.form .fields.error .field .checkbox label:after
    color #9F3A38

.ui.form .disabled.field,
.ui.form .disabled.fields .field,
.ui.form .field:disabled
    pointer-events none
    opacity .45

.ui.form .field.disabled>label,
.ui.form .fields.disabled>label
    opacity .45

.ui.form .required.field>.checkbox:after,
.ui.form .required.field>label:after,
.ui.form .required.fields.grouped>label:after,
.ui.form .required.fields:not(.grouped)>.field>.checkbox:after,
.ui.form .required.fields:not(.grouped)>.field>label:after
    margin -.2em 0 0 .2em
    content '*'
    color #DB2828

.ui.form .required.field>label:after,
.ui.form .required.fields.grouped>label:after,
.ui.form .required.fields:not(.grouped)>.field>label:after
    display inline-block
    vertical-align top

.ui.form .required.field>.checkbox:after,
.ui.form .required.fields:not(.grouped)>.field>.checkbox:after
    position absolute
    top 0
    left 100%

.ui.form .inverted.segment .ui.checkbox .box,
.ui.form .inverted.segment .ui.checkbox label,
.ui.form .inverted.segment label,
.ui.inverted.form .inline.field>label,
.ui.inverted.form .inline.field>p,
.ui.inverted.form .inline.fields .field>label,
.ui.inverted.form .inline.fields .field>p,
.ui.inverted.form .inline.fields>label,
.ui.inverted.form .ui.checkbox .box,
.ui.inverted.form .ui.checkbox label,
.ui.inverted.form label
    color rgba(255, 255, 255, .9)

.ui.inverted.form input:not([type]),
.ui.inverted.form input[type=date],
.ui.inverted.form input[type=datetime-local],
.ui.inverted.form input[type=email],
.ui.inverted.form input[type=file],
.ui.inverted.form input[type=number],
.ui.inverted.form input[type=password],
.ui.inverted.form input[type=search],
.ui.inverted.form input[type=tel],
.ui.inverted.form input[type=text],
.ui.inverted.form input[type=time],
.ui.inverted.form input[type=url]
    background #FFF
    border-color rgba(255, 255, 255, .1)
    color rgba(0, 0, 0, .87)
    box-shadow none

.ui.form .grouped.fields .field,
.ui.form .grouped.inline.fields .field
    display block
    margin .5em 0
    padding 0

.ui.form .two.fields>.field,
.ui.form .two.fields>.fields
    width 50%

.ui.form .three.fields>.field,
.ui.form .three.fields>.fields
    width 33.33333333%

.ui.form .four.fields>.field,
.ui.form .four.fields>.fields
    width 25%

.ui.form .five.fields>.field,
.ui.form .five.fields>.fields
    width 20%

.ui.form .six.fields>.field,
.ui.form .six.fields>.fields
    width 16.66666667%

.ui.form .seven.fields>.field,
.ui.form .seven.fields>.fields
    width 14.28571429%

.ui.form .eight.fields>.field,
.ui.form .eight.fields>.fields
    width 12.5%

.ui.form .nine.fields>.field,
.ui.form .nine.fields>.fields
    width 11.11111111%

.ui.form .ten.fields>.field,
.ui.form .ten.fields>.fields
    width 10%

@media only screen and (max-width:767px)
    .ui
        &.form
            .fields
                -webkit-flex-wrap wrap
                -ms-flex-wrap wrap
                flex-wrap wrap


@media only screen and (max-width:767px)
    .ui.form .eight.fields>.field,
    .ui.form .eight.fields>.fields,
    .ui.form .five.fields>.field,
    .ui.form .five.fields>.fields,
    .ui.form .four.fields>.field,
    .ui.form .four.fields>.fields,
    .ui.form .nine.fields>.field,
    .ui.form .nine.fields>.fields,
    .ui.form .seven.fields>.field,
    .ui.form .seven.fields>.fields,
    .ui.form .six.fields>.field,
    .ui.form .six.fields>.fields,
    .ui.form .ten.fields>.field,
    .ui.form .ten.fields>.fields,
    .ui.form .three.fields>.field,
    .ui.form .three.fields>.fields,
    .ui.form .two.fields>.field,
    .ui.form .two.fields>.fields,
    .ui.form [class*="equal width"].fields>.field,
    .ui[class*="equal width"].form .fields>.field
        width 100%!important
        margin 0 0 1em


@media only screen and (max-width:767px) 
    .ui.form .fields>.eight.wide.field,
    .ui.form .fields>.eleven.wide.field,
    .ui.form .fields>.fifteen.wide.field,
    .ui.form .fields>.five.wide.field,
    .ui.form .fields>.four.wide.field,
    .ui.form .fields>.fourteen.wide.field,
    .ui.form .fields>.nine.wide.field,
    .ui.form .fields>.seven.wide.field,
    .ui.form .fields>.six.wide.field,
    .ui.form .fields>.sixteen.wide.field,
    .ui.form .fields>.ten.wide.field,
    .ui.form .fields>.thirteen.wide.field,
    .ui.form .fields>.three.wide.field,
    .ui.form .fields>.twelve.wide.field,
    .ui.form .fields>.two.wide.field,
    .ui.form .five.fields>.field,
    .ui.form .five.fields>.fields,
    .ui.form .four.fields>.field,
    .ui.form .four.fields>.fields,
    .ui.form .three.fields>.field,
    .ui.form .three.fields>.fields,
    .ui.form .two.fields>.field,
    .ui.form .two.fields>.fields
        width 100%!important

@media only screen and (max-width:767px)
    .ui
        &.form
            .fields
                margin-bottom 0

.ui.form [class*="equal width"].fields>.field,
.ui[class*="equal width"].form .fields>.field
    width 100%
    -webkit-box-flex 1
    -webkit-flex 1 1 auto
    -ms-flex 1 1 auto
    flex 1 1 auto

.ui.form .inline.field>label,
.ui.form .inline.field>p,
.ui.form .inline.fields .field>label,
.ui.form .inline.fields .field>p,
.ui.form .inline.fields>label
    display inline-block
    width auto
    margin-top 0
    margin-bottom 0
    vertical-align baseline
    font-size .92857143em
    font-weight 700
    color rgba(0, 0, 0, .87)
    text-transform none

.ui.form .inline.field>input,
.ui.form .inline.field>select,
.ui.form .inline.fields .field>input,
.ui.form .inline.fields .field>select
    display inline-block
    width auto
    margin-top 0
    margin-bottom 0
    vertical-align middle
    font-size 1em

.ui.form .inline.field>:first-child,
.ui.form .inline.fields .field>:first-child
    margin 0 .85714286em 0 0

.ui.form .inline.field>:only-child,
.ui.form .inline.fields .field>:only-child
    margin 0

.ui.form .inline.fields .wide.field>input,
.ui.form .inline.fields .wide.field>select
    width 100%