.ui
    &.breadcrumb
        line-height 1
        display inline-block
        margin 0
        vertical-align middle
        font-size 1rem
        &:first-child
            margin-top 0
        &:last-child
            margin-bottom 0
        .divider
            display inline-block
            opacity .7
            margin 0 .21428571rem
            font-size .92857143em
            color rgba(0, 0, 0, .4)
            vertical-align baseline
        a
            color #4183C4
            &:hover
                color #1e70bf
            &.section
                cursor pointer
        .icon
            &.divider
                font-size .85714286em
                vertical-align baseline
        .section
            display inline-block
            margin 0
            padding 0
        &.segment
            display inline-block
            padding .78571429em 1em
        .active
            &.section
                font-weight 700
    &.mini
        &.breadcrumb
            font-size .78571429rem
    &.tiny
        &.breadcrumb
            font-size .85714286rem
    &.small
        &.breadcrumb
            font-size .92857143rem
    &.large
        &.breadcrumb
            font-size 1.14285714rem
    &.big
        &.breadcrumb
            font-size 1.28571429rem
    &.huge
        &.breadcrumb
            font-size 1.42857143rem
    &.massive
        &.breadcrumb
            font-size 1.71428571rem