.ui
    &.feed
        margin 1em 0
        font-size 1rem
        &:first-child
            margin-top 0
        &:last-child
            margin-bottom 0
        & > .event
            display -webkit-box
            display -webkit-flex
            display -ms-flexbox
            display flex
            -webkit-box-orient horizontal
            -webkit-box-direction normal
            -webkit-flex-direction row
            -ms-flex-direction row
            flex-direction row
            width 100%
            padding .21428571rem 0
            margin 0
            background 0 0
            border-top none
            &:first-child
                border-top 0
                padding-top 0
            &:last-child
                padding-bottom 0
                & > .content
                    padding-bottom 0
            & > .label
                display block
                -webkit-box-flex 0
                -webkit-flex 0 0 auto
                -ms-flex 0 0 auto
                flex 0 0 auto
                width 2.5em
                height auto
                -webkit-align-self stretch
                -ms-flex-item-align stretch
                align-self stretch
                text-align left
                .icon
                    opacity 1
                    font-size 1.5em
                    width 100%
                    padding .25em
                    background 0 0
                    border none
                    border-radius none
                    color rgba(0, 0, 0, .6)
                img
                    width 100%
                    height auto
                    border-radius 500rem
                & + .content
                    margin .5em 0 .35714286em 1.14285714em
            & > .content
                display block
                -webkit-box-flex 1
                -webkit-flex 1 1 auto
                -ms-flex 1 1 auto
                flex 1 1 auto
                -webkit-align-self stretch
                -ms-flex-item-align stretch
                align-self stretch
                text-align left
                word-wrap break-word
                a
                    cursor pointer
                .date
                    margin -.5rem 0 0
                    padding 0
                    font-weight 400
                    font-size 1em
                    font-style normal
                    color rgba(0, 0, 0, .4)
                .summary
                    margin 0
                    font-size 1em
                    font-weight 700
                    color rgba(0, 0, 0, .87)
                    img
                        display inline-block
                        width auto
                        height 10em
                        margin -.25em .25em 0 0
                        border-radius .25em
                        vertical-align middle
                    & > .date
                        display inline-block
                        float none
                        font-weight 400
                        font-size .85714286em
                        font-style normal
                        margin 0 0 0 .5em
                        padding 0
                        color rgba(0, 0, 0, .4)
                .user
                    display inline-block
                    font-weight 700
                    margin-right 0
                    vertical-align baseline
                    img
                        margin -.25em .25em 0 0
                        width auto
                        height 10em
                        vertical-align middle
                .extra
                    margin .5em 0 0
                    background 0 0
                    padding 0
                    color rgba(0, 0, 0, .87)
                    &.images
                        img
                            display inline-block
                            margin 0 .25em 0 0
                            width 6em
                    &.text
                        padding 0
                        border-left none
                        font-size 1em
                        max-width 500px
                        line-height 1.4285em
                .meta
                    display inline-block
                    font-size .85714286em
                    margin .5em 0 0
                    background 0 0
                    border none
                    border-radius 0
                    box-shadow none
                    padding 0
                    color rgba(0, 0, 0, .6)
                    & > *
                        position relative
                        margin-left .75em
                    & > :after
                        content ''
                        color rgba(0, 0, 0, .2)
                        top 0
                        left -1em
                        opacity 1
                        position absolute
                        vertical-align top
                    .like
                        color ''
                        -webkit-transition .2s color ease
                        transition .2s color ease
                        &:hover
                            .icon
                                color #FF2733
                    .active
                        &.like
                            .icon
                                color #EF404A
                    & > :first-child
                        margin-left 0
                        &::after
                            display none
    &.small
        &.feed
            font-size .92857143rem
    &.large
        &.feed
            font-size 1.14285714rem

.ui.feed>.event>.content .meta a,
.ui.feed>.event>.content .meta>.icon
    cursor pointer
    opacity 1
    color rgba(0, 0, 0, .5)
    -webkit-transition color .1s ease
    transition color .1s ease

.ui.feed>.event>.content .meta a:hover,
.ui.feed>.event>.content .meta a:hover .icon,
.ui.feed>.event>.content .meta>.icon:hover
    color rgba(0, 0, 0, .95)