@font-face
  font-family: 'Accordion'
  src: url("../fonts/accordion/accordion.ttf") format('truetype'), url("../fonts/accordion/accordion.woff") format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Checkbox'
  src: url("../fonts/checkbox/checkbox.ttf") format('truetype')

@font-face
  font-family: Dropdown
  src: url("../fonts/dropdown/dropdown.ttf") format('truetype'), url("../fonts/dropdown/dropdown.woff") format('woff')
  font-weight: 400
  font-style: normal

@font-face
  font-family: 'Icons'
  src: url("./../themes/default/assets/fonts/icons.eot")
  src: url("./../themes/default/assets/fonts/icons.eot?#iefix") format('embedded-opentype'), url("./../themes/default/assets/fonts/icons.woff2") format('woff2'), url("./../themes/default/assets/fonts/icons.woff") format('woff'), url("./../themes/default/assets/fonts/icons.ttf") format('truetype'), url("./../themes/default/assets/fonts/icons.svg#icons") format('svg')
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-decoration: inherit
  text-transform: none

@font-face
  font-family: Rating
  src: url("../fonts/rating/rating.ttf") format('truetype'), url("../fonts/rating/rating.woff") format('woff')
  font-weight: 400
  font-style: normal

@font-face
  font-family: Step
  src: url("../fonts/step/step.ttf") format('truetype'), url("../fonts/step/step.woff") format('woff')

