.ui
    &.segment
        position relative
        background #FFF
        box-shadow 0 1px 2px 0 rgba(34, 36, 38, .15)
        margin 1rem 0
        padding 1em
        border-radius .28571429rem
        border 1px solid rgba(34, 36, 38, .15)
        &:first-child
            margin-top 0
        &:last-child
            margin-bottom 0
    &.vertical
        &.segment
            margin 0
            padding-left 0
            padding-right 0
            background none
            border-radius 0
            box-shadow none
            border none
            border-bottom 1px solid rgba(34, 36, 38, .15)
            &:last-child
                border-bottom none
    &.inverted
        &.segment
            border none
            box-shadow none
            & > .ui
                &.header
                    color #FFF
            .segment
                color rgba(0, 0, 0, .87)
            .inverted
                &.segment
                    color rgba(255, 255, 255, .9)
        &.red
            &.segment
                background-color #DB2828!important
                color #FFF!important
        &.orange
            &.segment
                background-color #F2711C!important
                color #FFF!important
        &.yellow
            &.segment
                background-color #FBBD08!important
                color #FFF!important
        &.olive
            &.segment
                background-color #B5CC18!important
                color #FFF!important
        &.green
            &.segment
                background-color #21BA45!important
                color #FFF!important
        &.teal
            &.segment
                background-color #00B5AD!important
                color #FFF!important
        &.blue
            &.segment
                background-color #2185D0!important
                color #FFF!important
        &.violet
            &.segment
                background-color #6435C9!important
                color #FFF!important
        &.purple
            &.segment
                background-color #A333C8!important
                color #FFF!important
        &.pink
            &.segment
                background-color #E03997!important
                color #FFF!important
        &.brown
            &.segment
                background-color #A5673F!important
                color #FFF!important
        &.grey
            &.segment
                background-color #767676!important
                color #FFF!important
        &.black
            &.segment
                background-color #1B1C1D!important
                color #FFF!important
        &.attached
            &.segment
                border-color #555
    &.grid
        &.segment
            margin 1rem 0
            border-radius .28571429rem
    &.basic
        &.table
            &.segment
                background #FFF
                border 1px solid rgba(34, 36, 38, .15)
                box-shadow 0 1px 2px 0 rgba(34, 36, 38, .15)
        &.segment
            background none
            box-shadow none
            border none
            border-radius 0
    &.piled
        &.segment
            &:first-child
                margin-top 0
            &:last-child
                margin-bottom 0
    &.stacked
        &.segment
            padding-bottom 1.4em
    &.padded
        &.segment
            padding 1.5em
    &.compact
        &.segment
            display table
        &.segments
            display -webkit-inline-box
            display -webkit-inline-flex
            display -ms-inline-flexbox
            display inline-flex
    &.circular
        &.segment
            display table-cell
            padding 2em
            text-align center
            vertical-align middle
            border-radius 500em
    &.segments
        -webkit-box-orient vertical
        -webkit-box-direction normal
        -webkit-flex-direction column
        -ms-flex-direction column
        flex-direction column
        position relative
        margin 1rem 0
        border 1px solid rgba(34, 36, 38, .15)
        box-shadow 0 1px 2px 0 rgba(34, 36, 38, .15)
        border-radius .28571429rem
        &:first-child
            margin-top 0
        &:last-child
            margin-bottom 0
        & > .segment
            top 0
            bottom 0
            border-radius 0
            margin 0
            width auto
            box-shadow none
            border none
            border-top 1px solid rgba(34, 36, 38, .15)
            & + .segments
                &:not(.horizontal)
                    margin-top 0
        &:not(.horizontal)
            & > .segment
                &:first-child
                    border-top none
                    margin-top 0
                    bottom 0
                    margin-bottom 0
                    top 0
                    border-radius .28571429rem .28571429rem 0 0
                &:last-child
                    top 0
                    bottom 0
                    margin-top 0
                    margin-bottom 0
                    box-shadow 0 1px 2px 0 rgba(34, 36, 38, .15), none
                    border-radius 0 0 .28571429rem .28571429rem
                &:only-child
                    border-radius .28571429rem
        & > .ui
            &.segments
                border-top 1px solid rgba(34, 36, 38, .15)
                margin 1rem
        & > .segments
            &:first-child
                border-top none
        & > .horizontal
            &.segments
                margin 0
                background-color transparent
                border-radius 0
                border none
                box-shadow none
                border-top 1px solid rgba(34, 36, 38, .15)
                &:first-child
                    border-top none
    &.horizontal
        &.segments
            display -webkit-box
            display -webkit-flex
            display -ms-flexbox
            display flex
            -webkit-box-orient horizontal
            -webkit-box-direction normal
            -webkit-flex-direction row
            -ms-flex-direction row
            flex-direction row
            padding 0
            background-color #FFF
            box-shadow 0 1px 2px 0 rgba(34, 36, 38, .15)
            margin 1rem 0
            border-radius .28571429rem
            border 1px solid rgba(34, 36, 38, .15)
            & > .segment
                -webkit-box-flex 1
                -webkit-flex 1 1 auto
                flex 1 1 auto
                -ms-flex 1 1 0
                margin 0
                min-width 0
                background-color transparent
                border-radius 0
                border none
                box-shadow none
                border-left 1px solid rgba(34, 36, 38, .15)
                &:first-child
                    border-left none
    &.disabled
        &.segment
            opacity .45
            color rgba(40, 40, 40, .3)
    &.loading
        &.segment
            position relative
            cursor default
            pointer-events none
            text-shadow none!important
            color transparent!important
            -webkit-transition all 0s linear
            transition all 0s linear
            &:before
                position absolute
                content ''
                top 0
                left 0
                background rgba(255, 255, 255, .8)
                width 100%
                height 100%
                border-radius .28571429rem
                z-index 100
            &:after
                position absolute
                content ''
                top 50%
                left 50%
                margin -1.5em 0 0 -1.5em
                width 3em
                height 3em
                -webkit-animation segment-spin .6s linear
                animation segment-spin .6s linear
                -webkit-animation-iteration-count infinite
                animation-iteration-count infinite
                border-radius 500rem
                border-color #767676 rgba(0, 0, 0, .1) rgba(0, 0, 0, .1)
                border-style solid
                border-width .2em
                box-shadow 0 0 0 1px transparent
                visibility visible
                z-index 101
    &.clearing
        &.segment
            &:after
                content "."
                display block
                height 0
                clear both
                visibility hidden
    &.red
        &.segment
            &:not(.inverted)
                border-top 2px solid #DB2828
    &.orange
        &.segment
            &:not(.inverted)
                border-top 2px solid #F2711C
    &.yellow
        &.segment
            &:not(.inverted)
                border-top 2px solid #FBBD08
    &.olive
        &.segment
            &:not(.inverted)
                border-top 2px solid #B5CC18
    &.green
        &.segment
            &:not(.inverted)
                border-top 2px solid #21BA45
    &.teal
        &.segment
            &:not(.inverted)
                border-top 2px solid #00B5AD
    &.blue
        &.segment
            &:not(.inverted)
                border-top 2px solid #2185D0
    &.violet
        &.segment
            &:not(.inverted)
                border-top 2px solid #6435C9
    &.purple
        &.segment
            &:not(.inverted)
                border-top 2px solid #A333C8
    &.pink
        &.segment
            &:not(.inverted)
                border-top 2px solid #E03997
    &.brown
        &.segment
            &:not(.inverted)
                border-top 2px solid #A5673F
    &.grey
        &.segment
            &:not(.inverted)
                border-top 2px solid #767676
    &.black
        &.segment
            &:not(.inverted)
                border-top 2px solid #1B1C1D
    &.secondary
        &.segment
            background #F3F4F5
            color rgba(0, 0, 0, .6)
        &.inverted
            &.segment
                background -webkit-linear-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .2) 100%) #4c4f52
                background linear-gradient(rgba(255, 255, 255, .2) 0, rgba(255, 255, 255, .2) 100%) #4c4f52
                color rgba(255, 255, 255, .8)
    &.tertiary
        &.segment
            background #DCDDDE
            color rgba(0, 0, 0, .6)
        &.inverted
            &.segment
                background -webkit-linear-gradient(rgba(255, 255, 255, .35) 0, rgba(255, 255, 255, .35) 100%) #717579
                background linear-gradient(rgba(255, 255, 255, .35) 0, rgba(255, 255, 255, .35) 100%) #717579
                color rgba(255, 255, 255, .8)
    &.attached
        &.segment
            top 0
            bottom 0
            border-radius 0
            margin 0 -1px
            width calc(100% + 2px)
            max-width calc(100% + 2px)
            box-shadow none
            border 1px solid #D4D4D5
        &:not(.message)
            & + .ui
                &.attached
                    &.segment
                        &:not(.top)
                            border-top none

.ui.grid>.row>.ui.segment.column,
.ui.grid>.ui.segment.column,
.ui.page.grid.segment
    padding-top 2em
    padding-bottom 2em

.ui.piled.segment,
.ui.piled.segments
    margin 3em 0
    box-shadow ''
    z-index auto

.ui.piled.segment:after,
.ui.piled.segment:before,
.ui.piled.segments:after,
.ui.piled.segments:before
    background-color #FFF
    visibility visible
    content ''
    display block
    height 100%
    left 0
    position absolute
    width 100%
    border 1px solid rgba(34, 36, 38, .15)
    box-shadow ''

.ui.piled.segment:before,
.ui.piled.segments:before
    -webkit-transform rotate(-1.2deg)
    transform rotate(-1.2deg)
    top 0
    z-index -2

.ui.piled.segment:after,
.ui.piled.segments:after
    -webkit-transform rotate(1.2deg)
    transform rotate(1.2deg)
    top 0
    z-index -1

.ui.stacked.segment:after,
.ui.stacked.segment:before,
.ui.stacked.segments:after,
.ui.stacked.segments:before
    content ''
    position absolute
    bottom -3px
    left 0
    border-top 1px solid rgba(34, 36, 38, .15)
    background rgba(0, 0, 0, .03)
    width 100%
    height 6px
    visibility visible

.ui.stacked.segment:before,
.ui.stacked.segments:before
    display none

.ui.tall.stacked.segment:before,
.ui.tall.stacked.segments:before
    display block
    bottom 0

.ui.stacked.inverted.segment:after,
.ui.stacked.inverted.segment:before,
.ui.stacked.inverted.segments:after,
.ui.stacked.inverted.segments:before
    background-color rgba(0, 0, 0, .03)
    border-top 1px solid rgba(34, 36, 38, .35)

.ui.compact.segments .segment,
.ui.segments .compact.segment
    display block
    -webkit-box-flex 0
    -webkit-flex 0 1 auto
    -ms-flex 0 1 auto
    flex 0 1 auto

.ui.raised.segment,
.ui.raised.segments
    box-shadow 0 2px 4px 0 rgba(34, 36, 38, .12), 0 2px 10px 0 rgba(34, 36, 38, .15)

.ui.inverted.segment,
.ui.primary.inverted.segment
    background #1B1C1D
    color rgba(255, 255, 255, .9)

.ui.mini.segment,
.ui.mini.segments .segment
    font-size .78571429rem

.ui.tiny.segment,
.ui.tiny.segments .segment
    font-size .85714286rem

.ui.small.segment,
.ui.small.segments .segment
    font-size .92857143rem

.ui.segment,
.ui.segments .segment
    font-size 1rem

.ui.large.segment,
.ui.large.segments .segment
    font-size 1.14285714rem

.ui.big.segment,
.ui.big.segments .segment
    font-size 1.28571429rem

.ui.huge.segment,
.ui.huge.segments .segment
    font-size 1.42857143rem

.ui.massive.segment,
.ui.massive.segments .segment
    font-size 1.71428571rem

.ui[class*="bottom attached"].segment>[class*="top attached"].label
  border-top-left-radius: 0
  border-top-right-radius: 0

.ui[class*="top attached"].segment>[class*="bottom attached"].label
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

.ui.attached.segment:not(.top):not(.bottom)>[class*="top attached"].label
  border-top-left-radius: 0
  border-top-right-radius: 0

.ui.attached.segment:not(.top):not(.bottom)>[class*="bottom attached"].label
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0

.ui[class*="very basic"].table.segment
  padding: 1em

.ui[class*="top attached"].piled.segment
  margin-top: 3em
  margin-bottom: 0

.ui.piled.segment[class*="top attached"]:first-child
  margin-top: 0

.ui.piled.segment[class*="bottom attached"]
  margin-top: 0
  margin-bottom: 3em

.ui.piled.segment[class*="bottom attached"]:last-child
  margin-bottom: 0

.ui[class*="very padded"].segment
  padding: 3em

.ui.padded.segment.vertical.segment,
.ui[class*="very padded"].vertical.segment
  padding-left: 0
  padding-right: 0

.ui[class*="left aligned"].segment
  text-align: left

.ui[class*="right aligned"].segment
  text-align: right

.ui[class*="center aligned"].segment
  text-align: center

.ui.floated.segment,
.ui[class*="left floated"].segment
  float: left
  margin-right: 1em

.ui[class*="right floated"].segment
  float: right
  margin-left: 1em

.ui[class*="top attached"].segment
  bottom: 0
  margin-bottom: 0
  top: 0
  margin-top: 1rem
  border-radius: .28571429rem .28571429rem 0 0

.ui.segment[class*="top attached"]:first-child
  margin-top: 0

.ui.segment[class*="bottom attached"]
  bottom: 0
  margin-top: 0
  top: 0
  margin-bottom: 1rem
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, .15), none
  border-radius: 0 0 .28571429rem .28571429rem

.ui.segment[class*="bottom attached"]:last-child
  margin-bottom: 0

